<div id="adminlogin" class="registration-form">
    <h5>Login Admin</h5>
    <form action="#" method="post">
        <label for="">Email/Number</label>
        <input type="email" name="email" required>
        <label for="">Password</label>
        <div id='inputcontainer'>
            <input type="password" id="login-form-password" name="os_password" required></input>
        </div>
        <button type="submit" class="btn">Login</button>
        <p class="login">Don't have an account? <a class="link" href="#">Sign up</a></p>
    </form>
</div>

