<div id="adminRegForm" class="registration-form">
    <h5>Admin Registration Form</h5>
    <form action="#" method="post">
        <label>Company name</label>
        <input type="text" name="name" required>
        <label>Email address</label>
        <input type="email" name="email" required>
        <label>Password</label>
        <div id='inputcontainer'>
            <input type="password" id="login-form-password" name="os_password" required></input>
        <label>Confirm password</label>
        <div id='inputcontainer'>
            <input type="password" id="login-form-password" name="os_password" required></input>
        </div>
        <button type="submit" class="btn">Submit</button>
        <p class="login">Already registered? <a class="link" href="#">Login</a></p>
    </form>
</div>
