
<div id="userRegForm" class="registration-form">
    <h5>Create account now!</h5>
    <form action="#" method="post">
        <div class="flex">
            <div>
                <label>First name</label>
                <input type="text" name="firstname" required>
            </div>
            <div>
                <label>Last name</label>
                <input type="text" name="lastname" required>
            </div>
        </div>

        <label>Email address</label>
        <input type="email" name="email" required>
        <label>Phone number</label>
        <input type="phone number" name="phone number" required>
        <label>Address</label>
        <input type="text" name="" required>
        <div id='inputcontainer'>
            <label>Password</label>
            <input type="password" id="login-form-password" name="os_password" required></input>
        </div>
        <button type="submit" class="btn">Create account</button>
        <p class="login">Already have an account? <a class="link" href="#">Login</a></p>
    </form>
</div>
