<div id="driverRegForm" class="registration-form">
    <h5>Driver Registration Form</h5>
    <form action="/drivers/register" method="post">
        <div class="user-details">
            <div class="flex">
                <div class="input-box">
                    <label>First name</label>
                    <input type="text" name="firstname" required>
                </div>
                <div class="input-box">
                    <label>Last name</label>
                    <input type="text" name="lastname" required>
                </div>
            </div>
            <div class="input-box">
                <label>Email address</label>
                <input type="email" name="emailAddress" required>
            </div>
            <div class="input-box">
                <label>Phone number</label>
                <input type="tel" name="phone" required>
            </div>
            <div class="flex">
                <div class="input-box">
                    <label>Address</label>
                    <input type="text" name="address" required>
                </div>
                <div class="input-box" style="margin: 0px 5px;">
                    <label>State</label>
                    <input disabled value="Lagos" type="text" name="text" required>
                </div>
                <div class="input-box">
                    <label>Zip code</label>
                    <input type="text" name="zipcode" required>
                </div>
            </div>
            <div class="input-box">
                <label>License No.</label>
                <input type="text" name="licenseNumber" required>
            </div>
            <div class="flex">
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="input-box">
                    <label>Confirm password</label>
                    <input type="password" name="confirmPassword" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn">Submit</a></button>
        <p class="login">Already registered? <a class="link" href="#">Login</a></p>
    </form>    
</div>
