<div id="driverRegForm" class="registration-form">
    <h5>Driver Registration Form</h5>
    <form action="#" method="post">
        <div class="user-details">
            <div class="flex">
                <div class="input-box">
                    <label>First name</label>
                    <input type="text" name="fname" required>
                </div>
                <div class="input-box">
                    <label>Last name</label>
                    <input type="text" name="fname" required>
                </div>
            </div>
            <div class="input-box">
                <label>Email address</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-box">
                <label>Phone number</label>
                <input type="tel" name="number" required>
            </div>
            <div class="flex">
                <div class="input-box">
                    <label>Address</label>
                    <input type="text" name="text" required>
                </div>
                <div class="input-box">
                    <label>State</label>
                    <input type="text" name="text" required>
                </div>
                <div class="input-box">
                    <label>Zip code</label>
                    <input type="text" name="text" required>
                </div>
            </div>
            <div class="input-box">
                <label>License No.</label>
                <input type="text" name="text" required>
            </div>
            <div class="flex">
                <div class="input-box">
                    <label>Password</label>
                    <input type="text" name="text" required>
                </div>
                <div class="input-box">
                    <label>Confirm password</label>
                    <input type="text" name="text" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn">Submit</a></button>
        <p class="login">Already registered? <a class="link" href="#">Login</a></p>
    </form>    
</div>
