<div id="userlogin" class="registration-form">
    <h5>Login User</h5>
    <form action="/users/login" method="post">
        <label for="">Email/Number</label>
        <input type="email" name="emailAddress" required>
        <label for="">Password</label>
        <div id='inputcontainer'>
            <input type="password" id="login-form-password" name="password" required></input>
        </div>
        <button type="submit" class="btn">Login</button>
        <p class="login">Don't have an account? <a class="link" href="/users/register">Sign up</a></p>
    </form>
</div>

