<!-- <section> -->
    <header>
        <div class="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <h3 class="logo">
            ECOPAL
        </h3>
    </header>
    <!-- <div class="menu"> -->
            <nav>
                <ul class="nav-items">
                    <li><button class="switch" data-toggle="profile">Profile</button></li>
                    <li><button class="switch" data-toggle="pay">Pay</button></li>
                    <li><button class="switch" data-toggle="orders">Orders</button></li>
                    <li><a href="/logout" class="switch" style="text-decoration: none;">Logout</a></li>
                </ul>
            </nav>
    <!-- </div> -->
    <!-- <script>
        const burger = document.querySelector('.burger')
        const nav = document.querySelector('nav')
        burger.addEventListener('click', () => {
            nav.classList.toggle('open')
            burger.classList.toggle('open')
        })
    </script> -->
<!-- </section> -->