<div id="login">
    <div class="switcher login-switch">
        <button data-toggle="userlogin">
            User
        </button>
        <button data-toggle="driverlogin">
            Driver
        </button>
        <button data-toggle="adminlogin">
            Admin
        </button>
    </div>
    <div class="switcher-display login-disp">
        <%- include('partials/userlogin.ejs') %> 
        <%- include('partials/driverlogin.ejs') %>  
        <%- include('partials/adminlogin.ejs') %>  
    </div>
</div>
<script>
    requestAnimationFrame(() => {
        const loginForms = document.querySelectorAll('.login-disp > div');
        const loginTogglers = document.querySelectorAll('.login-switch > button');

        loginForms.forEach((node, index) => {
            if(index === 0) {
                loginTogglers[index].classList.toggle('active')
                node.style.display = 'block';
            } else {
                node.style.display = 'none';}
        })

        loginTogglers.forEach(node => {
            node.addEventListener('click', (e) => {
                loginForms.forEach((node, index) => {
                    if(node.id === e.target.dataset.toggle) {
                        node.style.display = 'block';
                        if (!loginTogglers[index].classList.contains('active')) {
                            loginTogglers[index].classList.toggle('active')
                        }
                    } else {
                        loginTogglers[index].classList.remove('active')
                        node.style.display = 'none';
                    }
                })
            })
        })
    })()

</script>